body {
    background-color: #d7e1f1; 
    color:#233255;
    margin:0; 
    transition: background-color 0.5s ease; 
}

.title__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

#typing-text {
    font-size: 100px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #233255;
    display: inline-block;
    animation: blink-caret 0.75s infinite;
}

#next-page {
    font-size: 30px;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent; 
    }
    50% {
        border-color: #233255;
}}

.red-text {
    color: red; /* Change to red */
}