@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400&family=Work+Sans&display=swap');

body {
    background-color: #090f23;
    color: #00ff99;
    margin: 0;
    transition: background-color 0.5s ease;
}

body.darker {
    background-color: #00ff99;
    color: #090f23;
    transition: background-color 0.5s ease;
}

body.dark {
    background-color: #00ff99;
    color: #090f23;
    transition: none;
}

body.dark {
    background-color: #090f23;
    color: #00ff99;
    transition: none;
}

h1 {
    text-align: center;
    font-size: 17vh; /* Adjust the value based on your preference */
    padding: 2vh 0; /* Adjust the value based on your preference */
    padding-bottom: 0;
    font-family: 'Roboto Mono', monospace;
}

.title__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust the value based on your preference */
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.scroll-container {
    text-align: center;
    margin-top: 2vh; /* Adjust the value based on your preference */
}

#typing-text {
    font-size: 2vh; /* Adjust the value based on your preference */
    font-family: 'Lucida Console', monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.4vh solid #00ff99; /* Adjust the value based on your preference */
    display: inline-block;
    animation: blink-caret 0.75s infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #00ff99;
    }
}

.navbar__links {
    float: right;
    padding-top: 2vh; /* Adjust the value based on your preference */
    padding-right: 3vh; /* Adjust the value based on your preference */
}

.navbar__links a {
    display: inline-block;
    padding: 2vh 3vh; /* Adjust the value based on your preference */
    font-size: 2.5vh; /* Adjust the value based on your preference */
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: #00ff99;
}

.bottom_line {
    text-align: left;
    padding-left: 10vh; /* Adjust the value based on your preference */
    font-size: 2.5vh; /* Adjust the value based on your preference */
    background-color: #00ff99;
    border-color: #00ff99;
    color: #090f23;
    font-family: 'Roboto Mono', monospace;
    border-style: solid;
    border-width: 0.5vh; /* Adjust the value based on your preference */
    padding: 1vh 2.5vh; /* Adjust the value based on your preference */
}

.navbar__links button {
    font-size: 2.5vh; /* Adjust the value based on your preference */
    background-color: #00ff99;
    border-color: #00ff99;
    color: #090f23;
    font-family: 'Roboto Mono', monospace;
    border-style: solid;
    border-width: 0.9vh; /* Adjust the value based on your preference */
    padding: 1vh 2.5vh; /* Adjust the value based on your preference */
}

.navbar__links a:hover {
    background-color: #1b714f;
    transition: all 0.3s ease;
}

.navbar__links button:hover {
    transition: all 0.3s ease;
}

h2 {
    text-align: center;
    font-size: 6vh; /* Adjust the value based on your preference */
    padding-top: 0;
    font-family: 'Roboto Mono', monospace;
}

p {
    text-align: center;
    font-size: 2.5vh; /* Adjust the value based on your preference */
    font-family: 'Roboto Mono', monospace;
    padding-left: 30vh; /* Adjust the value based on your preference */
    padding-right: 30vh; /* Adjust the value based on your preference */
    line-height: 3;
}

.alignRight {
    text-align: right;
    padding-right: 2vh; /* Adjust the value based on your preference */
}

img {
    padding-left: 1.5vh; /* Adjust the value based on your preference */
}

h5 {
    text-align: left;
    font-size: 3.7vh; /* Adjust the value based on your preference */
    padding-left: 40vh; /* Adjust the value based on your preference */
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

h6 {
    text-align: left;
    font-family:'Roboto Mono', monospace;
    font-size: 2.5vh; 
    line-height:6.5vh;
    padding-left:45vh;
    padding-right:45vh;
}

h4 {
    text-align: left;
    font-family:'Roboto Mono', monospace;
    font-size: 5vh; 
    line-height:6.5vh;
    padding-left:35vh;
    padding-right:35vh;
}

h3{
    text-align: center;
    font-family:'Roboto Mono', monospace;
    font-size: 2vh; 
    line-height:1vh;
    padding-left:35vh;
    padding-right:35vh;
}
.button-2 {
    background-color: #00ff99;
    color: #090f23;
    font-size: 2.5vh;
    padding: 2vh 2vh;
    cursor: pointer;
    border: 0.4vh solid #00ff99;
    transition: background-color 0.3s;
    border-style:solid;
    font-family: 'Roboto Mono', monospace;
    margin: auto; /* Center horizontally */
    display: block; /* Make it a block-level element */
}

.button-2:hover {
    background-color: #1b714f;
}

.button-2 a{
    text-decoration:none;
}